            
@import "https://fonts.googleapis.com/css?family=Oswald&display=swap";

:root{
    --color-white:rgb(250, 250, 250);
    --color-mac: rgb(34, 42, 73);
}
*{
    margin:0;
    padding:0;
    border:0;
}
body {
    background: rgb(64, 76, 131);
    color:var( --color-white);
    font-family: 'Oswald', sans-serif;

}
header{
    padding: 32px;
    background:  rgba(55, 55, 116, 0.747);
    border-bottom:1px solid gray;
}
.links{
    text-align: center;
}
.links a {
    color:var( --color-white);
    font-size: 18px;
    line-height: 28px;
    margin: 0 16px;
    text-decoration: none;

}
.links a:hover{
    color:wheat;
    transition: color 200ms;
}   
#wrapper{
    text-align: center;
    padding: 32px;
}
#wrapper img{
    border-radius: 30px;
    max-width:250px;
    max-height:300px;
    width: auto;
    height: auto;
    border:2px solid wheat;
    margin-bottom: 32px;
}
#wrapper h1{
    font-size: 28px;
    line-height: 52px;
    
}
#wrapper p a{
    color:wheat;
                    
}
#links-footer a {
    border-bottom:1px solid wheat;
    
}
/*cards*/

.cards{
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px;
    
}
.card{
    background-color: var( --color-mac);
    
}
.card___image-container img{
    width: 100%;
    
}
.card___content,
.card___info{
    padding: 24px;
}
.card___info{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.card___info2{
    background-color: var( --color-mac);
    filter: brightness(80%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;                

            }
/*modal*/
.modal-overlay{
    background-color: rgba(0,0,0,0.7);
    width: 100% ;
    height: 100%;
    position: fixed;  
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.modal{
    background-color: white;
    width: 90%;
    height:90%;
    margin:5vh   auto;
    position:relative;

}
.modal .close-modal{
color: black;
position: absolute;
right: 0;
cursor: pointer;
}
/*modal active*/

.modal-overlay.active{
    opacity: 1;
    visibility: visible;
    
}
#custom_video_play {
    width:100%;
    height: 90%;
    position:absolute;
    top:5%;
    
}
